<!DOCTYPE html>
<html lang="zxx">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/fave-icon.png') }}" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5"
  />
  <title>Go Notes | Empower Your Thoughts with Go Notes.</title>
  <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" />
  <style>
    .flashes li {
      color: red;
    }
    @media (max-width: 576px) {
      header {
        margin-bottom: -30px;
      }
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    footer {
      margin-top: auto;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<header class="header" id="header">
  <nav class="navbar container-xxl">
    <div class="order-0">
      <a href="/login" class="navbar-brand block">
        <img
          alt="Go Notes"
          class="h-7 w-auto md:h-[36px] md:w-[257px]"
          width="514"
          height="72"
          src="{{ url_for('static', filename='images/note-logo.png') }}"
          loading="lazy"
          decoding="async"
        />
      </a>
    </div>
  </nav>
</header>   

<body>
  <div class="container">
    <div class="row items-center justify-around">
      <div
        class="user-access-form aos-init aos-animate col-11 mt-24 sm:col-10 md:col-8 lg:col-4 lg:mt-0"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <div class="section-title text-center">
          <h3 class="title">Log In</h3>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST">
          <div class="mb-6">
            <label
              class="mb-2 block font-medium text-theme-dark/70"
              for="subject"
              >Email Address</label
            >
            <input
              class="form-control w-full"
              name="email"
              type="email"
              id="email"
              placeholder="Type Your Email Address"
            />
          </div>
          <div class="mb-6">
            <label
              class="mb-2 block font-medium text-theme-dark/70"
              for="subject"
              >Password</label
            >
            <input
              class="form-control w-full"
              name="password"
              type="password"
              id="password"
              placeholder="Enter Your Password"
              required=""
            />
          </div>

          <button class="btn btn-primary mt-6 w-full">Submit</button>
        </form>
        <p class="mb-0 mt-3 text-center">
          Don't Have An Account?
          <a class="text-primary hover:underline" href="/sign-up">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="mt-24 mt-25">
  <div class="container">
    <div class="row justify-center border-t border-border py-6">
      <div class="col-12 text-center">
        <p class="content text-text">
          Copyright ©  <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script> - Design &amp; Developed by <a href="#">Nathaniel Ademola</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</body>
</html>